logs/*
logs
crash-reports/*
crash-reports
client_data/*
client_data
shaderpacks/*
shaderpacks
optionsof.txt
optionsshaders.txt
options.txt
schematics/*
schematics
resourcepacks/*
resourcepacks
local/
WailaErrorOutput.txt
mods/OptiFine_1.18.2_HD_U_H7.jar
journeymap/*
logs/